<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Certifications</title>
  </head>
  <body>
    <section id="background" class="pad-25">
      <div class="container">
        <p class="text-medium" style="text-align: center; padding-bottom: 15px">
          Professional Certifications
        </p>
        <div class="testimonial bg-primary">
          <br />
          <div class="certifications">
            <p class="text-small">Amazon Web Services Certificates:</p>
            <a
              href="https://www.credly.com/badges/f2274002-bb7a-45d4-bee5-bea6a86c752f/public_url"
              target="_blank"
            >
              <img class="aws-badge-dva" />
            </a>
            <a
              href="https://www.credly.com/badges/2427d564-f9f2-47da-a862-92ab24344396/public_url"
              target="_blank"
            >
              <img class="aws-badge-ccp" />
            </a>
            <p class="text-small">Cisco Verified Certificates:</p>
            <a
              href="https://www.credly.com/badges/1528e1da-a103-4089-add3-89795482c93a/public_url"
              target="_blank"
            >
              <img class="bcs-badge" />
            </a>
            <a
              href="https://www.credly.com/badges/b46638af-596e-40a4-b84d-33ded205484f/public_url"
              target="_blank"
            >
              <img class="onex-badge" />
            </a>
            <a
              href="https://www.credly.com/badges/8d095e31-ee1b-4654-8bd4-c8727b89e1fc/public_url"
              target="_blank"
            >
              <img class="cxbaseline-badge" />
            </a>
            <a
              href="https://www.credly.com/badges/fe780adf-48f0-4e7a-b2e2-c28fab1cd0b8/public_url"
              target="_blank"
            >
              <img class="onex-agile-badge" />
            </a>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>
