<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Kayla Werder</title>
  </head>
  <body>
    <section id="background" class="pad-1">
      <img />
      <div class="container">
        <div class="testimonial bg-primary">
          <p class="text-body">
            Hi, my name is <b>Kayla Werder</b> and I am a
            <b>software engineer</b>
            at Cisco based in Raleigh, NC, who loves all things tech!
          </p>
          <p class="text-body">
            During my first year at Cisco, I have become AWS Certified by
            earning my AWS Certified Developer (DVA-C01) and AWS Cloud
            Practitioner (CLF-C01) certifications. I have also worked with our
            internship program to help mentor undergraduate technical interns,
            by planning social events to providing guidance on trainings and
            project work. My goal was to create an inclusive and collaborative
            workplace, even when working from home! Aside from work, I find
            happiness with a paintbrush in hand, exploring new places, or
            spending time with loved ones.
          </p>
          <p class="text-body">
            <i class="fas fa-map-pin"></i>
            New Jersey born and raised, North Carolina based
          </p>
        </div>

        <mat-tab-group
          mat-align-tabs="center"
          animationDuration="0ms"
          backgroundColor="primary"
        >
          <mat-tab class="label" label="Professional Experience">
            <div class="testimonial bg-primary">
              <span class="text-medium alignleft">Cisco Systems, Inc.</span>
              <span class="text-small alignright">July 2021 - present</span>
              <div style="clear: both"></div>
              <p class="text-small">Software Engineer</p>
              <ul class="text-body">
                <li>
                  Design and develop front-end web applications for prototypes
                  from the PoC pipeline to enhance the value of CX Cloud
                  features and offers
                </li>
                <li>
                  Provided faster, better, and more consistent service to
                  customers by innovating automated capabilities to proactively
                  help customers facing critical network impacting issues
                </li>

                <li>
                  Mentored and advised a cohort of collegiate interns and
                  early-in-career software engineers, ensuring a speedy
                  onboarding to project work by facilitating weekly team
                  meetings to discuss priorities and address blockers
                </li>

                <li>
                  Planned and hosted social events for interns to help foster a
                  positive and inclusive experience while working remotely
                </li>
              </ul>
            </div>
          </mat-tab>
          <mat-tab class="label" label="Internship Experience ">
            <div class="testimonial bg-primary">
              <span class="text-medium alignleft">DataMotion, Inc.</span>
              <span class="text-small alignright"
                >September 2019 - December 2019</span
              >
              <div style="clear: both"></div>

              <p class="text-small">Software Development Intern</p>
              <ul class="text-body">
                <li>
                  Designed and implemented prototypes for new value added
                  services
                </li>
                <li>
                  Designed, implemented and tested secure messaging applications
                  using DataMotion Web Service APIs
                </li>
                <li>
                  Worked on implementation and quality assurance for value added
                  services
                </li>
              </ul>
            </div>
          </mat-tab>
          <mat-tab label="Education">
            <div class="testimonial bg-primary">
              <span class="text-medium alignleft"
                >Fairleigh Dickinson University</span
              >
              <span class="text-small alignright">August 2017 - May 2021</span>
              <div style="clear: both"></div>
              <p class="text-small">Bachelors Degree</p>
              <ul class="text-body">
                <li>
                  Dual degree in Computer Science & Mathematics, with a
                  concentration in <i>Actuarial Science</i>
                </li>
                <li><i>Magna Cum Laude</i></li>
                <li><b>GPA:</b> 3.711 out of 4.0</li>
              </ul>
            </div></mat-tab
          >
          <mat-tab label="Collegiate Honors">
            <div class="testimonial bg-primary">
              <b class="text-medium">Honor Societies</b>
              <ul class="text-body">
                <li>Order of Omega Greek Honor Society</li>
                <li>Phi Omega Epsilon Honor Society</li>
                <li>
                  Upsilon Pi Epsilon (Computing and Information) Honor Society
                </li>
              </ul>
              <br />
              <b class="text-medium">Academics</b>
              <ul class="text-body">
                <li>Honor's & Dean's List every semester</li>
              </ul>
            </div>
          </mat-tab>
          <mat-tab label="Technical Skills">
            <div class="testimonial bg-primary">
              <div class="row">
                <div class="column">
                  <b class="text-small"
                    >Languages
                    <ul class="text-body">
                      <li>Python, C++, C#</li>
                      <li>Experience with: Java, JavaScript</li>
                    </ul>
                  </b>

                  <br />
                  <b class="text-small"
                    >Design
                    <ul class="text-body">
                      <li>HTML, CSS</li>
                      <li>UI Toolkits and Frameworks</li>
                      <li>Adobe Photoshop</li>
                    </ul>
                  </b>
                  <br />
                  <b class="text-small"
                    >Platforms
                    <ul class="text-body">
                      <li>Github</li>
                      <li>Jira</li>
                    </ul>
                  </b>
                </div>
                <div class="column">
                  <b class="text-small"
                    >Frameworks
                    <ul class="text-body">
                      <li>Angular</li>
                      <li>Experience with: React</li>
                    </ul>
                  </b>
                  <br />
                  <b class="text-small"
                    >Project Management
                    <ul class="text-body">
                      <li>Agile Methodology, SCRUM</li>
                    </ul>
                  </b>
                  <br />
                  <b class="text-small"
                    >Cloud
                    <ul class="text-body">
                      <li>Amazon Web Services</li>
                    </ul>
                  </b>
                  <br />
                  <b class="text-small"
                    >Databases
                    <ul class="text-body">
                      <li>MongoDB</li>
                    </ul>
                  </b>
                </div>
              </div>
            </div>
          </mat-tab>
        </mat-tab-group>
      </div>
    </section>
  </body>
</html>
